<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450327961066-q8r2qdgq4iorriscdthlkkrl9cm39btq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450327961066-q8r2qdgq4iorriscdthlkkrl9cm39btq</string>
	<key>API_KEY</key>
	<string>AIzaSyDD6AStYho1ZkdxSLbt-of3mQwqK1b0tac</string>
	<key>GCM_SENDER_ID</key>
	<string>450327961066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aveosoftware.loginlite.loginLite</string>
	<key>PROJECT_ID</key>
	<string>loginlite-73900</string>
	<key>STORAGE_BUCKET</key>
	<string>loginlite-73900.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450327961066:ios:366e3e438106205db9e693</string>
</dict>
</plist>