<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468637029356-tuuun44q02titliql9bl5dd24h3ef7tg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468637029356-tuuun44q02titliql9bl5dd24h3ef7tg</string>
	<key>API_KEY</key>
	<string>AIzaSyBoOlZfrW6e_5Vdp3GWg63Vap91I-Cwv-k</string>
	<key>GCM_SENDER_ID</key>
	<string>468637029356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aveosoftware.loginlite.loginLite</string>
	<key>PROJECT_ID</key>
	<string>login-lite-3c0c9</string>
	<key>STORAGE_BUCKET</key>
	<string>login-lite-3c0c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468637029356:ios:90392fa24db13c05ece6c9</string>
</dict>
</plist>